APP_NAME=Sepriet
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://tu-dominio-o-ip.com

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=mariadb
DB_HOST=db
DB_PORT=3306
DB_DATABASE=sepriet_prod
DB_USERNAME=sepriet_user
DB_PASSWORD=cambia_este_password_seguro
DB_ROOT_PASSWORD=cambia_este_root_password_seguro

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local

SANCTUM_STATEFUL_DOMAINS=tu-dominio-o-ip.com
SESSION_DOMAIN=
